#menu-btn{
	
	width: 127px;
    height: 77px;
	font-size:18px;
	
}
.row{
	margin-left:0; !important
	margin-right:0; !important
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
